@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-style: normal;
    src: url("../assets/fonts/Inter.ttf");
    font-family: 'Inter';
}

@font-face {
    font-style: normal;
    src: url("../assets/fonts/ChocolatesMedium.otf");
    font-family: 'Chocolates';
}

* {
    font-family: 'Chocolates';
}